---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://www.grosbygroup.com/</loc><changefreq>monthly</changefreq></url>
  <url><loc>https://www.grosbygroup.com/licensing/</loc><changefreq>monthly</changefreq></url>
  <url><loc>https://www.grosbygroup.com/creators/</loc><changefreq>monthly</changefreq></url>
  <url><loc>https://www.grosbygroup.com/syndication/</loc><changefreq>monthly</changefreq></url>
  <url><loc>https://www.grosbygroup.com/about/</loc><changefreq>monthly</changefreq></url>
  <url><loc>https://www.grosbygroup.com/contact/</loc><changefreq>monthly</changefreq></url>
  <url><loc>https://www.grosbygroup.com/partners/</loc><changefreq>monthly</changefreq></url>
</urlset>
